* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", serif;
    background-color: #141414;
    color: white;
}

html{
    scroll-behavior: smooth;
}

/* -----header section start--------- */

header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    padding: 1.5rem 4rem;
    border-bottom: 1px solid rgba(255,255, 255,.1);
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 2.5rem;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(132, 126, 126, 0.5);
}

.nav-links a{
    color: #888888;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    border-radius: 6px;
}

.nav-links a:hover{
    color: white;
    background-color: rgba(255,255, 255,.1);
}

.nav-links a.active{
    color: white;
    background-color: rgba(255,255, 255,.1);  
}

.nav-icons{
    display: flex;
    gap: 1.5rem;
}

.icon-btn{
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.icon-btn:hover{
    color: white;
    background-color: rgba(255,255, 255,.1);  
}

 /* -----header section end---------  */

 /* -------hero section start---------  */

 .hero{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-top: 100px;
    background-image: url('image/hero.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5rem;

 }

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.2)0%,rgba(0,0,0,0.9)100% );
    z-index: 1;
}

.hero-content{
    position: relative;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    padding-top: 0;

}

.hero-content h1{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.hero-content p{
    color: #999;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 auto 2rem;
    line-height: 1.6;
}

.start-watching{
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: #E50000;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 auto;
}

.start-watching:hover{
    background-color: #aa0909;
}
 /* -------hero section end---------  */

 /* -----------categories section start---------- */

 .categories{
    width: 80%;
    margin: 0 auto;
    padding: 4rem;
    background-color: #141414;
 }


 .categories-header{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    position: relative;

 }

 .categories-header h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
 }

 .categories-header p{
    font-size: 1rem;
    font-weight: 500;
    color: #999;
    padding-bottom: 1rem;
 }

 .categories-navigation{
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1rem;

 }

 .nav-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: rgba(255,255, 255,.1);
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-xolor 0.3s;
 }

 .nav-btn:hover{
    background-color: rgba(255,255, 255,.2);
 }

.nav-indicator{
    display: flex;
    gap: 0.5rem;
}
.indicator{
    width: 24px;
    height: 4px;
    background-color: rgba(255,255, 255,.1);
    border-radius: 2px;
}

.indicator.active{
    background-color: #E50000;
}

.categories-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.categories-card{
    background-color: rgba(255,255, 255,0.05);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3;
    box-shadow: 0px 0px 10px rgba(132, 126, 126, 0.5);
}

.categories-card:hover{
    transform: translateY(-5px);
}

.movie-poster{
    padding: 30px;
}

.movie-poster img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.categorise-titel{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    padding: 1rem;
    justify-content: space-between;
}

 /* ----------categories section end------------ */


 /* --------support section start-------- */

.devices{
    width: 100%;
    margin: 0 auto;
    padding: 4rem;
    background-color: #141414;
}

.devives-header{
    margin-bottom: 3rem;
    width: 80%;
    margin: 0 auto;
}

.devives-header h2{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: white;
}


.devives-header p{
    font-size: 1rem;
    font-weight: 500;
    color: #999;
    margin-bottom: 3rem;
    line-height: 1.5;
}

.devices-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.devices-card{
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.1), transparent);
    border-radius: 12px;
    padding: 2rem;
    transition: transform 0.3s;
    border: 1px solid rgba(255, 0, 0, 0.1);
}

.devices-card:hover{
    transform: translateY(-5px);
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.2), transparent);
    border: 1px solid rgba(255, 0, 0, 0.1);
}

.devices-icon{
    width: 48px;
    height: 48px;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-bottom: 1.5rem;
}

.devices-icon i{
    font-size: 1.5rem;
    color: white;
}

.devices-card h3{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.devices-card p{
    font-size: 0.9rem;
    font-weight: 500;
    color: #999;
    line-height: 1.6;
}

 /* --------support section end-------- */

 /* --------faq section start---------- */

.faq{
    width: 80%;
    margin: 0 auto;
    padding: 4rem 3rem;
}

.faq-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.faq-text h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.faq-text p{
    color: #999;
    font-size: 1rem;
    font-weight: 600;
    max-width: 600px;
}

.ask-question{
    background-color: #E50000;
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.ask-question:hover{
    background-color: #aa0909;
}

.faq-grid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq-item {
    border: 1px solid rgba(255,255, 255,.1);
    border-radius: 12px;
    overflow: hidden;
}

.faq-question{
    display: flex;
    padding: 1.5rem;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255,255, 255,0.05);
    transition: background-color 0.3s;
}

.faq-question:hover{
    background-color: rgba(255,255, 255,0.1);
}

.quwstion-number{
    color: #999;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.faq-question h3{
    flex: 1;
    font-size: 1.1rem;
    font-weight: 500;
}

.faq-question i{
    color: #999;
}

.faq-question.active i{
    transform: rotate(45deg);
}

.faq-ans{
    max-height: 0;
    overflow: hidden;
    background-color: rgba(255,255, 255,0.02);
    transition: max-height 0.3s ease-out;
}

.faq-ans p{
    color: #999;
    padding: 1.5rem;
    line-height: 1.6;
}


 /* --------faq section end---------- */

 /* --------subscriptions section start-------  */

.subscriptions{
    width: 74%;
    margin: 0 auto;
    padding: 4rem 1rem;
    margin-bottom: 5rem;
}

.subscriptions-header{
    text-align: center;
    margin-bottom: 3rem;
}

.subscriptions-header h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
}

.subscriptions-header p{
    font-size: 1rem;
    color: #999;
    font-weight: 500;
    margin: 0 auto 2rem;
}

.plan-btn{
    display: inline-flex;
    background-color: rgba(255,255, 255,0.1);
    padding: 0.5rem;
    border-radius: 8px;
    gap: 0.5rem;
}

.toggle-btn.active{
    background-color: #A91C1C;
    color: white;
    cursor: pointer;

}

.toggle-btn{
    background-color: transparent;

    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 6px;
    color: #999;
    font-size: 1rem;
    font-weight: 600;
    cursor: not-allowed;

}

.plan-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.plan-card{
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.1), transparent);
    border-radius: 12px;
    padding: 2rem;
    transition: transform 0.3s;
    border: 1px solid rgba(255, 0, 0, 0.1);
}

.plan-card:hover{
    transform: translateY(-5px);
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.2), transparent);
    border: 1px solid rgba(255, 0, 0, 0.1);
}

.plan-content h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
}

.plan-content p{
    font-size: 0.9rem;
    color: #999;
    line-height: 1.6;
    margin-bottom: 2rem;
    min-height: 70px;
}

.price{
    margin-bottom: 2rem;
}


 .ammount{
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
}

.period{
    color: #999;
    font-size: 1rem;
}

.plan-button{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn-trial{
    background: none;
    border: 1px solid rgba(255,255, 255,.1);
    color: white;
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.btn-trial:hover{
    background: rgba(255,255, 255,.1);
}

.btn-choose{
    background: #E50000;
    border: none;
    color: white;
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.btn-choose:hover{
    background: #A91C1C;
}
 /* --------subscriptions section end-------  */


 /* --------Free Trail Section start---------  */



.free-trail{
    width: 74%;
    margin: 0 auto;
    padding: 4rem;
    background-image: url(image/last.png);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(132, 126, 126, 0.1);

}

.free-trail::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8)100%);
}

.trial-content{
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.trial-content h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
}

.trial-content p{
    color: #999;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.trail-btn{
    background-color: #E50000;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
}

.trail-btn:hover{
    background-color: #c91717;
}



 /* --------Free Trail Section end---------  */


 /* ----------footer section start----------  */

footer{
    background-color: black;
    padding: 4rem 0 2rem;
    margin-top: 4rem;
}

.footer-content{
    width: 74%;
    margin: 0 auto;

}

.cooter-links{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}

.footer-col h3{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 1.5rem;
}

.footer-col a{
    display: block;
    color: #999;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 1rem;
}

.footer-col a:hover{
    color: #ffffff;
}

.social-link{
    display: flex;
    gap: 1rem;
}

.social-link a{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(255,255, 255,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: white;
}

.social-link a:hover{
    background-color: rgba(255,255, 255,0.2);
}


.footer-bottom{
    margin-top: 2rem;
    border-top: 2px solid rgba(255,255, 255,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-legal{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;

}

.footer-legal a{
    color: #999;
    text-decoration: none;
    font-size: 14px;
}

.footer-legal a:hover{
    color: white;
}

 /* ----------footer section end----------  */


 /* -----Responsive Code-------- */


 @media (max-width:480px){

    .nav-links{
        display: none;
    }

    .logo img{
        margin-left: -30px;
    }

    .nav-icons{
        margin-right: -30px;
    }

    .hero-content{
        margin-top: 2.5rem;
    }

    .categories{
        width: 100%;
        padding: 2rem;
    }

    .categories-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .categories-navigation{
        display: none;
    }



    .devices{
        padding: 2rem;
        width: 100%;
    }

    .devives-header{
        width: 100%;
        
    }

    .devices-grid{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .faq{
        width: 100%;
        padding: 2rem;
        
    }

    .faq-header{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .ask-question{
        margin-top: 1.5rem;

    }

    .subscriptions{
        width: 100%;
    }

    .plan-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .free-trail {
        width: 80%;
        padding: 2rem;
    }

    footer{
        width: 100%;
    }

    .cooter-links{
        grid-template-columns: repeat(2, 1fr);
    }

    .social-link{
        gap: 0.3rem;
    }

    .footer-content{
        width: 100%;
        padding: 2rem;
    }

    .footer-bottom{
        display: block;
        width: 100%;
    }

 }
